.grid-container {
  background-color: brown;
  display: grid;
  /* justify-content: center; */
  grid-template-columns: repeat(3, minmax(min-content, max-content));

  grid-template-rows: 100px 100px;

  gap: 5px;
}

* {
  box-sizing: border-box;
}
.child {
    overflow-y: scroll;
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
  font-weight: bolder;
  /* margin: 5px; */
  border: 1px solid black;
}

/* .item6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item1 {
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 3;
} */
